@import "@styles/core.scss";

.component {
    @include fix-height-panel(38px);
    flex-direction: row;
    background: var(--bgcolor-docsheader);

    .tabWrapper {
        display: flex;
        flex-direction: row;
    }
}

.closingTab {
    @include fix-height-panel(38px);
    width: 4px;
    border-left: 1px solid var(--color-doc-border);
}
