@use "@styles/core.scss" as *;

.listWrapper {
  @include fill-parent-flex;
  font-family: var(--monospace-font);
  box-sizing: border-box;
  flex-direction: column;
  user-select: text;
}

.outputLine {
  overflow-x: hidden;
  word-break: break-all;
}

.lineNo {
  display: inline-block;
  color: var(--console-lineNo);
  padding-right: 12px;
  min-width: 48px;
  text-align: end;
}
