@use "@styles/core.scss" as *;

.panelFont {
  font-family: var(--monospace-font);
  font-size: 0.8em;
}

.invalid {
  @include fill-parent-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1em;
  font-family: var(--monospace-font);
  color: var(--console-ansi-bright-red);
}
