@import "@styles/core.scss";

.component {
    @include fill-parent-flex;
    background: var(--bgcolor-emuarea);
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    outline: none;
    user-select: none;
}
