* {
  box-sizing: border-box;
}

@mixin sizeToWindow() {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  flex-shrink: 0;
  flex-grow: 0;
}

@mixin sizeToClient() {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  flex-shrink: 1;
  flex-grow: 1;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe WPC, Segoe UI,
    HelveticaNeue-Light, Ubuntu, Droid Sans, sans-serif;
  overflow: hidden;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: 0;
  min-width: 100px;
  min-height: 40px;
  user-select: none;
  @include sizeToWindow();
}

// --- The style of application containers
main,
.app-container {
  @include sizeToWindow();
}

// --- Normal style of the floating separator gutter
.gutter {
  background-color: transparent;
}

// --- Hover style of the floating separator gutter
.gutter:hover {
  background-color: var(--splitter-hover-color);
  transition-property: background-color;
  transition-duration: 0.25s;
  transition-delay: 0.5s;
}

.collapsed {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
}

.expanded {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
}

.host-panel {
  @include sizeToClient();
}

@import "../node_modules/@syncfusion/ej2-base/styles/bootstrap-dark.css";
@import "../node_modules/@syncfusion/ej2-layouts/styles/bootstrap-dark.css";

// ============================================================================
// CSS overrides for SyncFusion controls

// ----------------------------------------------------------------------------
// Splitter and panel style overrides

.e-splitter.e-splitter-horizontal,
.e-splitter.e-splitter-vertical {
  border: transparent;
}

.e-splitter .e-split-bar.e-split-bar-horizontal.e-resizable-split-bar::after {
  cursor: ew-resize;
}

.e-splitter .e-split-bar.e-split-bar-vertical.e-resizable-split-bar::after {
  cursor: ns-resize;
}

.e-splitter .e-split-bar.e-split-bar-horizontal,
.e-splitter .e-split-bar.e-split-bar-vertical {
  background: var(--sidebar-background-color);
}

.e-splitter .e-split-bar.e-split-bar-horizontal.e-split-bar-hover,
.e-splitter .e-split-bar.e-split-bar-horizontal.e-split-bar-active,
.e-splitter .e-split-bar.e-split-bar-vertical.e-split-bar-hover,
.e-splitter .e-split-bar.e-split-bar-vertical.e-split-bar-active {
  background: var(--splitter-hover-color);
}

.e-splitter .e-split-bar.e-split-bar-horizontal .e-resize-handler,
.e-splitter .e-split-bar.e-split-bar-vertical .e-resize-handler {
  color: var(--sidebar-background-color);
}

.e-splitter
  .e-split-bar.e-split-bar-horizontal.e-split-bar-hover
  .e-resize-handler,
.e-splitter
  .e-split-bar.e-split-bar-horizontal.e-split-bar-active
  .e-resize-handler,
.e-splitter
  .e-split-bar.e-split-bar-vertical.e-split-bar-hover
  .e-resize-handler,
.e-splitter
  .e-split-bar.e-split-bar-vertical.e-split-bar-active
  .e-resize-handler {
  color: var(--splitter-hover-color);
}

// ============================================================================
// CSS classes for IDE controls

.splitter-panel {
  height: 100%;
  flex-grow: 1;
  flex-shrink: 1;
}

.splitter-panel > div {
  display: flex;
  height: 100%;
  overflow-x: hidden;
}
