.SelectTrigger {
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: var(--bg-color-dropdown-input);
    color: var(--color-dropdown-input);
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border: none;
    padding: 2px 4px 2px 8px;
    border-radius: 4px;
  
    &:focus {
      outline: 1px solid var(--border-color-dropdown-menu);
    }
  
    &.value {
      align-self: flex-end;
    }
  }
  
  .SelectContent {
    background-color: var(--bg-color-dropdown-input);
    color: var(--color-dropdown-input);
    border-radius: 4px;
    padding: 2px 4px;
    z-index: 100;
  }
  
  .SelectItem {
    flex-direction: row;
    margin: 1px 2px;
    width: 18px;
    border: none;
    font-size: 0.8em;
    text-align: center;
    cursor: pointer;
    border: 2px solid transparent;
  
    &:focus {
      outline: 2px solid var(--border-color-dropdown-menu);
    }

    &.selected {
      background-color: var(--bg-color-dropdown-menu-selected);
    }
  }
  