@import "@styles/core.scss";

.editorPanel {
  @include fill-parent-flex;
  box-sizing: border-box;
  flex-direction: row;
  user-select: none;
  font-size: 0.8em;
  align-items: start;
  font-size: 1em;
}

.editorArea {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  flex-grow: 0;
  width: 300px;
  padding: 8px;
}

.dropdownWrapper {
  font-size: 1.2em;
  margin-bottom: 0.4em;
}

.colorRow {
  align-items: start;
}

.colorBar {
  width: 160px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 24px;
}

.colorScale {
  width: 40px;
  display: flex;
  flex-direction: column;
  padding: 8px;
  align-items: center;

  & .colorScaleLabel {
    font-size: 1em;
  }
}

.colorItem {
  width: 20px;
  height: 20px;
  padding: 3px;
  margin: 2px;
  border: 2px solid transparent;
}

.colorTag {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}