@import "@styles/core.scss";

.editorPanel {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  user-select: none;
  font-size: 0.8em;
  align-items: start;
  font-size: 1em;
  padding-top: 0;
  padding-bottom: 0;
  background-color: var(--bgcolor-editors);
}

.headerRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  outline: none;
  border-top: none;
}
