@import "@styles/core.scss";

.editorPanel {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  user-select: none;
  font-size: 0.8em;
  align-items: start;
  font-size: 1em;
  padding-top: 0;
  padding-bottom: 0;
  background-color: var(--bgcolor-editors);
}

.headerRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  outline: none;
  border-top: none;
}

.editorArea {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  flex-grow: 0;
  align-items: start;
  padding: 0.2em;
}

.spriteGridWrapper {
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  flex-shrink: 0;
  overflow: auto;
  padding-left: 8px;
  padding-top: 8px;
}

.spriteEditorGrid {
  background-color: var(--bgcolor-sprite-editor);
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  flex-shrink: 0;
  overflow: auto;
}

.spriteScroller {
  height: 64px;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  flex-grow: 0;
  padding-top: 2px;
  background-color: var(--bgcolor-editors);
}

.spriteItem {
  width: 48px;
  height: 48px;
}

.spriteImageWrapper {
  margin: 2px 0;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  height: fit-content;
  padding: 2px 0;
  margin: 0;

  &.separated {
    padding-left: 2px;
    padding-right: 2px;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    margin-left: 1px;
    margin-right: 1px;
  }

  &:hover,
  &.selected {
    border-color: var(--color-text-hilite);
  }
}
