@import "@styles/core.scss";

.component {
    @include fix-height-panel(38px);
    flex-direction: row;
    background: var();
}

.headerBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    height: 100%;
    padding: 0 8px;
}


.commandBar {
    width: auto;
    display: flex;
    align-items: center;
}
