@use "@styles/core.scss" as *;

.listWrapper {
  @include fill-parent-flex;
  box-sizing: border-box;
  flex-direction: column;
  user-select: none;
  height: 120pt;
  background-color: var(--bgcolor-modal);
  margin-top: 8pt;
}

.listItem {
  height:30pt;
  width: auto;
  display: flex;
  padding-left: 8pt;
  padding-right: 16pt;

  * {
    margin-bottom: auto;
    margin-top: auto;
  }
}

.listItemTitle {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.removeButton {
  display: flex;
  height: auto;
  align-items: center;

  &:hover {
    border-radius: 4px;
    background: var(--bgcolor-tabbutton-pointed);
  }
}

.disabled,
.disabled:hover {
  background: transparent;
  opacity: .5;
}
