@use "@styles/core.scss" as *;

.commandPanel {
    @include fill-parent-flex;
    box-sizing: border-box;
    flex-direction: column;
    user-select: text;
}

.outputWrapper {
    @include fill-parent-flex;
    box-sizing: border-box;
    flex-direction: column;
    user-select: text;
    font-family: var(--monospace-font);
    font-size: 0.8em;
}

.promptWrapper {
    @include fix-height-panel(32px);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.promptPrefix {
    margin-right: 8px;
    color: var(--color-prompt)
}
.prompt {
    outline: none;
    border: none;
    width: 100%;
    background: transparent;
    margin-right: 8px;
    font-family: var(--monospace-font);
    font-size: 0.8em;
    color: var(--color-prompt);
    font-weight: 600;
}

.executing::placeholder {
    font-style: italic;
    font-weight: 400;
}

.outputLine {
    overflow-x: hidden;
    word-break: break-all;
}
