@import "@styles/core.scss";

.toolTab {
  @include fix-height-panel(36px);
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-right: none;
  cursor: pointer;
  padding: 0 12px;
}

.textWrapper {
  display: flex;
  align-items: center;
  height: 32px;
  border-bottom: 1px solid transparent;
}

.active {
  color: var(--color-tooltab-active);
  border-bottom: 1px solid var(--btopcolor-tooltab-activeTab);
}

.titleText {
  color: var(--color-doc-inactiveText);
  font-size: 0.8em;
  font-weight: 600;
  text-transform: uppercase;
}

.activeTitle {
  color: var(--color-doc-activeText);
}
