@import "@styles/core.scss";

.basicPanel {
  @include fill-parent-flex;
  box-sizing: border-box;
  flex-direction: column;
  user-select: none;
  font-family: var(--monospace-font);
  font-size: 0.8em;

  .center {
    @include fill-parent-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--color-secondary-label);
  }
}

.header {
  @include fix-height-panel(30px);
  flex-direction: row;
  align-items: center;
  padding-left: 4px;
  flex-shrink: 0;
  flex-grow: 0;
}

.listWrapper {
  @include fill-parent-flex;
  box-sizing: border-box;
  flex-direction: column;
  user-select: text;
  padding-left: 4px;
}

.item {
  display: block;
  width: fit-content;
  overflow-x: hidden;
  word-break: break-all;
}

.spectrum {
  font-family: ZxSpectrum;
  line-height: 1rem;
}