@import "@styles/core.scss";

.breakpointWrapper {
  display: flex;
  flex-direction: row;
}

.breakpointIndicator {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  cursor: pointer;
}

.iconPlaceholder {
  width: 16px;
  height: 16px;
}
