@use "@styles/core.scss" as *;

.breakpointWrapper {
  display: flex;
  flex-direction: row;
  padding-right: 4px;
}

.breakpointIndicator {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  cursor: pointer;
}

.iconPlaceholder {
  width: 16px;
  height: 16px;
}
