@use "@styles/core.scss" as *;

.panel {
  @include fill-parent-flex;
  box-sizing: border-box;
  flex-direction: column;
  user-select: none;
  font-family: var(--monospace-font);
  font-size: 0.8em;
}

.header {
  @include fix-height-panel(32px);
  flex-direction: row;
  align-items: center;
  padding-left: 4px;
  flex-shrink: 0;
  flex-grow: 0;
  outline: none;
}

.headerSeparator {
  @include fix-height-panel(4px);
  flex-direction: row;
  align-items: center;
  flex-shrink: 0;
  flex-grow: 0;
}

.disassemblyWrapper {
  @include fill-parent-flex;
  box-sizing: border-box;
  flex-direction: column;
  user-select: none;
}

.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 18px;

  &.even {
    background: var(--bgcolor-disass-even-row);
  }

  &:hover {
    background: var(--bgcolor-disass-hover);
  }
}

.iconPlaceholder {
  width: 16px;
  height: 16px;
}

.tstates {
  width: 36px;
  padding-right: 8px;
  font-size: 0.6rem;
  text-align: end;
  color: var(--color-doc-inactiveText);
  flex: 0 0 auto;
}
