@import "@styles/core.scss";

.dskViewerPanel {
  box-sizing: border-box;
  flex-direction: column;
  user-select: none;
  font-family: var(--monospace-font);
  font-size: 0.8em;
}

.header {
  @include fix-height-panel(32px);
  flex-direction: row;
  align-items: center;
  padding-left: 4px;
  flex-shrink: 0;
  flex-grow: 0;
}

.error {
  background: var(--console-ansi-bright-red);
  color: var(--console-ansi-bright-white);
  font-weight: bold;
}

.valueLabel {
  padding: 8px 2px 8px 8px;
  font-size: 1em;
  color: var(--color-value);
  flex-shrink: 0;
  flex-grow: 0;
}

.dskViewerWrapper {
  box-sizing: border-box;
  flex-direction: column;
  user-select: none;
}

.dataSectionPanel {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding-bottom: 8px;
}

.sectionHeader {
  height: 24px;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  flex-grow: 0;
  align-items: center;
  border: 1px solid transparent;
  outline: none;
  padding: 0 4px;
  background: var(--bgcolor-disass-even-row);
  color: var(--color-label);
}

.headerText {
  color: var(--color-value);
  font-weight: 600;
  padding-left: 4px;
  width: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dataSection {
  display: flex;
  flex-direction: column;
  padding-left: 16px;
}

.blockHeader {
  display: flex;
  flex-direction: column;
  justify-items: start;
  padding: 4px 8px 8px 8px;
  flex-shrink: 0;
  flex-grow: 0;
}

.sectorSection {
  display: flex;
  flex-direction: column;
  padding-left: 16px;
  padding-top: 4px;
}

.sectorHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 18px;
  padding-top: 4px;
}