.dumpSection {
  display: flex;
  flex-direction: row;
  padding: 2px 0;

  &.fit {
    width: fit-content
  }
}

.value {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  color: var(--color-value);
  justify-content: center;
  width: 20px;

  &.decimal {
    width: 30px;
  } 

  &:hover {
    background: #606060;
    opacity: 0.9;
  }

  &.pointed {
    background: var(--bgcolor-memory-pointed);
    color: var(--color-memory-pointed);
  }

  &.pcPointed {
    background: var(--bgcolor-memory-pc-pointed);
    color: var(--color-memory-pointed);
  }
}

.char {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  color: var(--color-secondary-label);

  &:hover {
    background: var(--bgcolor-disass-hover);
    opacity: 0.9;
  }
}
