@use "@styles/core.scss" as *;

.panContainer {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.imageWrapper {
  min-width: 100%;
  min-height: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  box-sizing: border-box;
}

.imageWrapperFitPage {
  width: 100%;
  height: 100%;
  min-width: unset;
  min-height: unset;
}

.message {
  @include fill-parent-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-command-icon);
}

.zoomLabel {
  min-width: 32px;
  text-align: center;
  font-size: 0.85em;
  color: var(--color-command-icon);
  cursor: pointer;
  user-select: none;
  padding: 0 2px;

  &:hover {
    color: var(--color-text);
  }
}
