.codeBreakpointMargin {
  background: var(--color-breakpoint-code);
  clip-path: circle(20%);
  cursor: pointer;
}

.binaryBreakpointMargin {
  background: var(--color-breakpoint-binary);
  clip-path: circle(20%);
  cursor: pointer;
}

.mixedBreakpointMargin {
  background: var(--color-breakpoint-mixed);
  clip-path: circle(20%);
  cursor: pointer;
}

.disabledBreakpointMargin {
  background: var(--color-breakpoint-disabled);
  clip-path: circle(20%);
  cursor: pointer;
}

.hoverBreakpointMargin {
  background: var(--color-breakpoint-code);
  clip-path: circle(30%);
  cursor: pointer;
}

.disabledHoverBreakpointMargin {
  background: var(--color-breakpoint-disabled);
  clip-path: circle(30%);
  cursor: pointer;
}

.activeBreakpointMargin {
  cursor: pointer;

  /* Use the provided SVG as a background image */
  background-image: var(--image-breakpoint-current);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  background-color: transparent;
}

.activeBreakpointOnExistingMargin {
  cursor: pointer;
  background-image: var(--image-breakpoint-current-existing);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  background-color: transparent;
}

.activeBinBreakpointOnExistingMargin {
  cursor: pointer;
  background-image: var(--image-breakpoint-current-existing-bin);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  background-color: transparent;
}


.activeBreakpointLine {
  background: var(--bgcolor-debug-active-bp);
  border: 1px solid var(--bgcolor-debug-active-bp);
}

.activeMacroInvocationLine {
  background: var(--bgcolor-debug-macro-bp);
  border: 1px solid var(--bgcolor-debug-macro-bp);
}

.activeMacroBreakpointMargin {
  cursor: pointer;

  /* Use the provided SVG as a background image */
  background-image: var(--image-breakpoint-macro);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  background-color: transparent;
}

.activeMacroBreakpointOnExistingMargin {
  cursor: pointer;
  background-image: var(--image-breakpoint-macro-existing);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  background-color: transparent;
}

.activeMacroBinBreakpointOnExistingMargin {
  cursor: pointer;
  background-image: var(--image-breakpoint-macro-existing-bin);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  background-color: transparent;
}


.unreachableBreakpointMargin {
  background: var(--color-debug-unreachable-bp);
  clip-path: circle(20%);
  cursor: pointer;
}
