@import "@styles/core.scss";

.panel {
  @include fill-parent-flex;
  box-sizing: border-box;
  flex-direction: column;
  user-select: none;
  font-size: 0.8em;
}

.listWrapper {
  @include fill-parent-flex;
  font-family: var(--monospace-font);
  box-sizing: border-box;
  flex-direction: column;
  user-select: none;
}
