@import "@styles/core.scss";

.panel {
  @include fill-parent-flex;
  box-sizing: border-box;
  flex-direction: column;
  user-select: none;
  font-size: 0.8em;
  padding-left: 4px;
  padding-bottom: 4px;
}

.header {
  @include fix-height-panel(30px);
  flex-direction: row;
  align-items: center;
  padding-left: 4px;
  flex-shrink: 0;
  flex-grow: 0;
}
