@use "@styles/core.scss" as *;

.tapViewerPanel {
  box-sizing: border-box;
  flex-direction: column;
  user-select: none;
  font-family: var(--monospace-font);
  font-size: 0.8em;
}

.header {
  @include fix-height-panel(32px);
  flex-direction: row;
  align-items: center;
  padding-left: 4px;
  flex-shrink: 0;
  flex-grow: 0;
}

.error {
  background: var(--console-ansi-bright-red);
  color: var(--console-ansi-bright-white);
  font-weight: bold;
}

.valueLabel {
  padding: 8px 2px 8px 8px;
  font-size: 1em;
  color: var(--color-value);
  flex-shrink: 0;
  flex-grow: 0;
}

.tapViewerWrapper {
  box-sizing: border-box;
  flex-direction: column;
  user-select: none;
}

.dataSection {
  display: flex;
  flex-direction: column;
  padding-left: 8px;
}

.blockHeader {
  display: flex;
  flex-direction: column;
  justify-items: start;
  padding: 4px 8px 8px 8px;
  flex-shrink: 0;
  flex-grow: 0;
}

