@use "@styles/core.scss" as *;

.panel {
  @include fill-parent-flex;
  box-sizing: border-box;
  flex-direction: column;
  user-select: none;
  font-size: 0.8em;
  justify-content: center;
  align-items: center;
}
