@import "@styles/core.scss";

.tabButton {
    display: flex;
    height: auto;
    align-items: center;
    border-radius: 4px;
    flex-shrink: 0;
    flex-grow: 0;
  
    &:hover {
        border-radius: 4px;
        background: var(--bgcolor-tabbutton-pointed);
    }
}

.keyDown, .keyDown:hover {
    background: var(--bgcolor-tabbutton-down);
}

.disabled, .disabled:hover {
    background: transparent;
}

.placeholder {
    width: 20px;
    flex-shrink: 0;
    flex-grow: 0;
  }
