.tooltip {
  z-index: 100;
  background-color: var(--color-bg-tooltip);
  color: var(--color-fg-tooltip);
  border: var(--border-tooltip);
  font-size: var(--font-size-tooltip);
  border-radius: var(--radius-bg-tooltip);
  padding: var(--padding-tooltip);
  box-shadow: var(--shadow-tooltip);
}
