@use "@styles/core.scss" as *;

.sideBarHeader {
    @include fix-height-panel(36px);
    padding-left: 4px;
    align-items: center;
    flex-direction: row;

}

.text {
    color: var(--color-header);
    font-size: 0.8em;
    font-weight: 400;
    padding-left: 20px;
    width: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
  }