@import "@styles/core.scss";

.button {
  background-color: var(--bgcolor-button);
  border: 2px solid transparent;
  border-radius: 2px;
  padding: 8px 12px;
  min-width: 50px;
  outline: none;
  color: var(--color-button);
  font-family: var(--main-font);
  font-size: 1em;
  cursor: pointer;

  &:hover {
    color: var(--color-button-pointed);
    background-color: var(--bgcolor-button-pointed);
  }

  &:disabled {
    background: var(--bgcolor-button-disabled);
    color: var(--color-button-disabled);
    cursor: default;
  }

  &:focus {
    border: 2px solid var(--color-button-focused);
    color: var(--color-button-pointed);
  }

  &.isDanger {
    background-color: var(--console-ansi-red);

    &:hover {
      color: var(--color-button-pointed);
      background-color: var(--console-ansi-bright-red);
    }

    &:focus {
      border: 2px solid var(--console-ansi-bright-red);
      color: var(--color-button-pointed);
    }
  }
}
