.modal {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  z-index: 100;
  background: var(--bgcolor-backdrop);
  overflow: auto;
  padding: 8px;

  header {
    background: var(--bgcolor-modal-header);
    padding: 8px;
    font-size: 1.2em;
  }

  footer {
    background: var(--bgcolor-modal-footer);
    padding: 8px;
  }

  &.fullScreen{
    padding: 0;
  }
}

.dialog {
  position: relative;
  z-index: 20;
  transform: translateY(-200px);
  display: flex;
  flex-direction: column;
  border: var(--border-modal);
  outline-offset: 2px;
  border-radius: var(--radius-modal);
  font-family: var(--main-font);
  background: var(--bgcolor-modal);
  color: var(--color-modal);
  padding: 0;
  max-width: 880px;
  min-width: 440px;
  margin: 0 auto;
  
  &.fullWidth{
    width: 100%;
  }
  
  &.fullScreen{
    width: 100%;
    height: 100%;
    max-width: 100% !important;
    padding: 0;
    border-radius: 0;
  }
}

.closeButton {
  background-color: transparent;
  border: none;
  outline: inherit;
  transition: color 0.2s, background-color 0.2s;
  user-select: none;
  cursor: pointer;
  min-width: 18px;
  min-height: 18px;
  padding: 0.25em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: none;

  &:focus {
    outline: 0.2em solid blue;
  }

  &:not([disabled]) {
    &:hover {
      background-color: lightblue;
      * {
        color: red;
      }
    }
    &:active {
      background-color: blue;
      * {
        color: lightblue;
      }
    }
  }
  &:disabled {
    cursor: not-allowed;
    color: gray;
  }
}

.dialogTitle {
  flex: 1;
  font-size: 1.25rem;
  color: var(--color-modal-header)
}

.dialogBody {
  display: flex;
  flex: 1;
  padding: 8px;
}

.dialogFooter {
  display: flex;
  flex: 1;
  flex-direction: row-reverse;
  padding: 8px;
}

button {
  background-color: var(--bgcolor-button);
  border: none;
  border-radius: 2px;
  padding: 8px 12px;
  margin-left: 8px;
  min-width: 50px;
  color: var(--color-button);
  font-family: var(--main-font);
  font-size: 0.9em;
  cursor: pointer;

  &:hover {
    color: var(--color-button-pointed);
    background-color: var(--bgcolor-button-pointed);
  }

  &:disabled {
    background: var(--bgcolor-button-disabled);
    color: var(--color-button-disabled);
    cursor: default;
  }
}
