.scrollViewer {
  display: flex;
  margin: 0;
  height: 100%;
  overflow: hidden;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
}

.vScrollbar {
  position: absolute;
  height: 100%;
  background-color: transparent;
  cursor: default;
}

.vScrollbarThumb {
  position: absolute;
  height: 100%;
  background-color: transparent;
  cursor: default;
  transition: background-color 800ms;

  &.pointed {
    background-color: var(--bgcolor-scrollbar-thumb);
  }

  &.unpointed {
    background-color: transparent;
  }
}

.hScrollbar {
  position: absolute;
  width: 100%;
  background-color: transparent;
  cursor: default;
}

.hScrollbarThumb {
  position: absolute;
  width: 100%;
  background-color: transparent;
  cursor: default;
  transition: background-color 800ms;

  &.pointed {
    background-color: var(--bgcolor-scrollbar-thumb);
  }

  &.unpointed {
    background-color: transparent;
  }
}
