.input {
  outline: none;
  border: none;
  padding: 4px;
  margin: 8px 0;
  font-family: var(--monospace-font);
  font-size: 1em;
  color: var(--color-input);
  background-color: var(--bgcolor-input);

  &:active, &:focus {
    outline: 2px solid var(--color-button-focused);
  }
}
