@import "@styles/core.scss";

.breakpointsPanel {
  @include fill-parent-flex;
  box-sizing: border-box;
  flex-direction: column;
  user-select: none;
  font-family: var(--monospace-font);
  font-size: 0.8em;

  .center {
    @include fill-parent-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--color-secondary-label);
  }

  .breakpoint {
    display: flex;
    flex-direction: row;
    width: fit-content;
  }
}
