@use "@styles/core.scss" as *;

.panel {
  @include fill-parent-flex;
  box-sizing: border-box;
  flex-direction: column;
  user-select: none;
  font-family: var(--monospace-font);
  padding: 4px 0;

  .center {
    @include fill-parent-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--color-secondary-label);
  }
}

.itemWrapper {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  flex-grow: 1;
  width: calc(100% - 8px);
  padding: 4px;
  font-size: 0.8em;

  &.selected {
    background-color: var(--bgcolor-explorer-focused-selected);
  }

  &:hover {
    background-color: var(--bgcolor-disass-hover);
  }
}

.itemId {
  display: flex;
  flex-shrink: 0;
  flex-grow: 0;
  white-space: nowrap;
  overflow: hidden;
  direction: rtl;
  text-overflow: ellipsis;
  width: 40px;
  color: var(--console-ansi-bright-magenta);
  padding-left: 8px;
  padding-right: 8px;
  text-align: start;
}

.itemText {
  white-space: nowrap;
  overflow: hidden;
  direction: rtl;
  text-overflow: ellipsis;
  width: 400px;
  color: var(--color-doc-activeText);
  padding-left: 8px;
  padding-right: 8px;
  text-align: end;
}

.itemTime {
  display: flex;
  flex-shrink: 0;
  flex-grow: 0;
  white-space: nowrap;
  overflow: hidden;
  direction: rtl;
  text-overflow: ellipsis;
  color: var(--console-ansi-bright-blue);
  padding-left: 8px;
  padding-right: 8px;
  text-align: start;
  width: 60px;
  text-align: end;
}

.header {
  display: flex;
  flex-shrink: 0;
  flex-grow: 0;
  align-items: center;
  height: 24px;
  gap: 8px;
  padding: 0 8px;
}
