@import "@styles/core.scss";

.sysVarsPanel {
  @include fill-parent-flex;
  box-sizing: border-box;
  flex-direction: column;
  user-select: none;
  font-family: var(--monospace-font);
  font-size: 0.8em;

  .center {
    @include fill-parent-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--color-secondary-label);
  }

  .sysVar {
    display: flex;
    flex-direction: row;
    padding: 2px;

    .sysVarValue {
      display: flex;
      flex-direction: row;
      width: fit-content;
    }
  }
}

.byteValue {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  color: var(--color-value);
  justify-content: center;
  width: 20px;

  &:hover {
    background: var(--bgcolor-disass-hover);
    opacity: 0.9;
  }
}

.dumpRows {
  display: flex;
  flex-direction: column;
}

.dumpSection {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  flex-grow: 0;
}
