@use "@styles/core.scss" as *;

.watchPanel {
  @include fill-parent-flex;
  box-sizing: border-box;
  flex-direction: column;
  user-select: none;
  font-family: var(--monospace-font);
  font-size: 0.8em;

  .center {
    @include fill-parent-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--color-secondary-label);
  }

  .watchItem {
    display: flex;
    align-items: center;
    padding: 2px 0;
    min-height: 20px;
    border-bottom: 1px solid var(--color-separator);
    
    &:last-child {
      border-bottom: none;
    }
    
    &:hover {
      background-color: var(--color-bg-hover);
    }
  }
}
