@import "@styles/core.scss";

.addressInput {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  flex-grow: 0;
  align-items: center;
}

.headerLabel {
  padding: 8px 2px 8px 8px;
  font-family: var(--main-font-family);
  font-size: 1em;
  color: var(--color-command-icon);
  flex-shrink: 0;
  flex-grow: 0;
  align-items: center;
}

.addressPrompt {
    outline: none;
    border: none;
    font-family: var(--monospace-font);
    height: 20px;
    width: 44px;
    border: 1px solid var(--color-toolbar-separator);
    background: transparent;
    margin-left: 4px;
    font-family: var(--monospace-font);
    font-size: 1em;
    color: var(--color-prompt);
    font-weight: 600;
    text-transform: uppercase;
}

.eightBit {
  width: 26px;
}

.radixLabel {
  font-family: var(--monospace-font);
  font-size: 1em;
  padding: 4px 2px 0 2px;
  height: 18px;
  border: 1px solid var(--color-toolbar-separator);
  border-left: 0px solid transparent;
  color: var(--color-command-icon);
  flex-shrink: 0;
  flex-grow: 0;
  vertical-align: text-bottom;
  cursor: pointer;
}

