@use "@styles/core.scss" as *;

.addressInput {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  flex-grow: 0;
  align-items: center;
}

.headerLabel {
  padding: 8px 2px 8px 8px;
  font-family: var(--main-font-family);
  font-size: 1em;
  color: var(--color-command-icon);
  flex-shrink: 0;
  flex-grow: 0;
  align-items: center;
}

.addressPrompt {
  outline: none;
  border: none;
  font-family: var(--monospace-font);
  height: 20px;
  width: 44px;
  border: 1px solid var(--color-toolbar-separator);
  background: var(--bg-color-dropdown-input);
  margin-left: 4px;
  font-size: 1em;
  color: var(--color-dropdown-input);
  text-transform: uppercase;
  border-radius: 4px;

  &:focus {
    border: 1px solid var(--border-color-dropdown-menu);
  }
}
