.dataSectionPanel {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding-bottom: 8px;

  &.expandable {
    cursor: pointer
  }
}

.sectionHeader {
  height: 24px;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  flex-grow: 0;
  align-items: center;
  border: 1px solid transparent;
  outline: none;
  padding: 0 4px;
  background: var(--bgcolor-disass-even-row);
  color: var(--color-label);
}

.headerText {
  color: var(--color-value);
  font-weight: 600;
  padding-left: 4px;
  width: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dataSection {
  display: flex;
  flex-direction: column;
  padding-left: 8px;
}

.sectionBody {
  cursor: default;
}
