.field {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label {
  font-size: 0.875rem;
  font-weight: 500;
}

.help {
  color: var(--color-secondary-label);
  font-size: 0.875rem;
}

.error {
  color: var(--console-ansi-bright-red);
  font-size: 0.875rem;
}
