@import "@styles/core.scss";

.palettePanel {
  outline: none;
  border-top: 1px solid transparent;

  &:focus {
    border-color: var(--color-text-hilite);
  }
}

.paletteRow {
  height: 22px;
}

.paletteColumnLabel {
  width: 26px;
  margin-left: 4px;
  color: var(--color-label);
}

.paletteRowLabel {
  width: 26px;
  margin-left: 4px;
  color: var(--color-label);
}

.paletteItem {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  width: 24px;
  height: 22px;
  margin-right: 4px;
  border: 1px solid transparent;
  //border-radius: 12px;
}
