@import "@styles/core.scss";

.paletteColumnLabel {
  width: 28px;
  margin-left: 2px;
  color: var(--color-label);
}

.paletteRowLabel {
  width: 26px;
  margin-left: 6px;
  color: var(--color-label);
}

.paletteItem {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  width: 22px;
  height: 20px;
  margin-right: 6px;
  border: 1px solid transparent;
  border-radius: 12px;
}
