@use "@styles/core.scss" as *;

.splitPanel {
    @include fill-parent-flex;
}

.left {
    @include container-for-columns;
}

.right {
    @include container-for-columns-reverse;
}

.top {
    @include container-for-rows;
}

.bottom {
    @include container-for-rows-reverse;
}

.vertical {
    @include fix-width-panel(20px);
}

.horizontal  {
    @include fix-height-panel(20px);
}

.secondary {
    @include fill-parent-flex;
}

.splitter {
    position: fixed;
    z-index: 10;
    background: transparent;
    opacity: 0.0;

    &.withBorder {
        opacity: 1.0;

        &::after {
            content: "";
            position: absolute;
            pointer-events: none;
            background: var(--color-tool-border);
        }
    }

    &.verticalBorder::after {
        top: 0;
        bottom: 0;
        left: 50%;
        width: 1px;
        transform: translateX(-0.5px);
    }

    &.horizontalBorder::after {
        top: 50%;
        left: 0;
        right: 0;
        height: 1px;
        transform: translateY(-0.5px);
    }

    &.pointed {
        background: var(--bgcolor-splitter);
        opacity: 1.0;
        transition: opacity 0.2s;
    }
}

.splitterHor {
    height: 100%;
}

.splitterVert {
    width: 100%;
}
