@import "@styles/core.scss";

.splitPanel {
    @include fill-parent-flex;
}

.left {
    @include container-for-columns;
}

.right {
    @include container-for-columns-reverse;
}

.top {
    @include container-for-rows;
}

.bottom {
    @include container-for-rows-reverse;
}

.vertical {
    @include fix-width-panel(20px);
}

.horizontal  {
    @include fix-height-panel(20px);
}

.secondary {
    @include fill-parent-flex;
}

.splitter {
    position: fixed;
    z-index: 10;
    background: transparent;
    opacity: 0.0;

    &.pointed {
        background: var(--bgcolor-splitter);
        opacity: 1.0;
        transition: opacity 0.2s;
    }
}

.splitterHor {
    height: 100%;
}

.splitterVert {
    width: 100%;
}