@use "@styles/core.scss" as *;

.splitButton {
  display: flex;
  align-items: center;
  height: 30px;
  border-radius: 6px;
}

.primaryButton,
.dropdownButton {
  height: 30px;
  border: 0;
  padding: 0;
  color: inherit;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 80ms ease;

  &:not(:disabled) {
    cursor: pointer;
  }

  &:not(:disabled):hover {
    background: var(--bgcolor-toolbarbutton-hover);
  }

  &:not(:disabled):active {
    background: var(--bgcolor-keydown-toolbarbutton);
    box-shadow: inset 0 1px 3px rgb(0 0 0 / 30%);
  }
}

.primaryButton {
  width: 30px;
  border-radius: 6px 0 0 6px;
}

.dropdownButton {
  width: 16px;
  border-radius: 0 6px 6px 0;
}

.disabled {
  opacity: 1;
}

.menu {
  position: fixed;
  z-index: 10000;
  min-width: 190px;
  padding: 4px;
  border: 1px solid var(--border-color-dropdown-menu);
  border-radius: 6px;
  background: var(--bg-color-dropdown-menu);
  color: var(--color-dropdown-menu);
  box-shadow: var(--shadow-context-menu);
}

.menuItem {
  width: 100%;
  height: 28px;
  border: 0;
  border-radius: 4px;
  padding: 0 8px;
  display: flex;
  align-items: center;
  gap: 8px;
  color: inherit;
  background: transparent;
  text-align: left;
  cursor: pointer;

  &:hover {
    background: var(--bg-color-dropdown-menu-pointed);
  }
}

.selectedMenuItem {
  background: var(--bg-color-dropdown-menu-selected);
}
