@use "@styles/core.scss" as *;

.documentTab {
  @include fix-height-panel(36px);
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 8px 0 12px;
  border: 1px solid var(--color-doc-border);
  border-right: none;
  background: var(--bgcolor-doc-inactiveTab);
  max-width: 360px;
  cursor: pointer;
}

.active {
  background: var(--bgcolor-doc-activeTab);
  color: var(--color-doc-activeText);
  border-top: 1px solid var(--btopcolor-doc-activeTab);
  border-bottom: 1px solid transparent;
}

.awaiting {
  cursor: wait;
}

.titleText {
  color: var(--color-doc-inactiveText);
  font-size: 0.9em;
  font-weight: 600;
  padding: 0 8px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  direction: rtl;
}

.activeTitle {
  color: var(--color-doc-activeText);
}

.temporaryTitle {
  font-style: italic;
}

.readOnlyIcon {
  display: flex;
  align-items: center;
  padding-right: 8px;
  color: rgb(252, 165, 3);
}

.lockedIcon {
  display: flex;
  align-items: center;
  padding-right: 8px;
}
