@use "@styles/core.scss" as *;

.documentArea {
    @include fill-parent-flex;
    flex-direction: column;
    background: var(--bgcolor-docspanel);
    color: var(--color-doc-activeText);
    user-select: none;
    outline: none;
}
