@import "@styles/core.scss";

.sidePanel {
  @include side-panel-content;
}

.rows {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
}

.cols {
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  flex-shrink: 0;

  &.centered {
    align-items: center;
  }
}
