.cols {
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  flex-shrink: 0;
}

.label {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  color: var(--color-label);
  width: 44px;

  &.flag {
    width: 41px;
  } 
}

.value {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  color: var(--color-value);
  width: 48px;

  &.flag {
    width: 51px;
  } 
}

.flagRows {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
}

.verticalLabel {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  color: var(--color-label);
  width: 16px;
  justify-content: center;
}

.flagValue {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
}

.flagLetter {
    color: var(--color-label);
    font-size: 1.6em;
    width: 32px;
}

.bitValue {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: center;

  &.clickable {
    cursor: pointer;
  }
}
