@import "@styles/core.scss";

.component {
    @include fill-parent-flex;
    box-sizing: border-box;
    flex-direction: column;
    background: var(--bgcolor-toolarea);
    border: 1px solid transparent;
    padding: 0 8px;
    user-select: none;
}

.left {
    border-left: 1px solid grey;
}

.right {
    border-right: 1px solid grey;
}

.top {
    border-top: 1px solid grey;
}

.bottom {
    border-bottom: 1px solid grey;
}
