@import "@styles/core.scss";

.component {
    @include fix-height-panel(48px);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover {
        background: var(--bgcolor-activitybar-pointed);
    }
};

.iconWrapper {
    @include fill-parent-flex;
    justify-content: center;
    align-items: center;
}

.icon {
    fill: var(--color-activitybar);
}

.iconPointed {
    fill: var(--color-activitybar-pointed);
}

.active {
    background: var(--bgcolor-activitybar-active);

    &:hover {
        background: var(--bgcolor-activitybar-activepointed);
    }
}

