.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #747bffaa);
}

.creator {
  font-size: 14px;
  line-height: 16px;
  color: var(--ev-c-text-2);
  font-weight: 600;
  margin-bottom: 10px;
}

.text {
  font-size: 28px;
  color: var(--ev-c-text-1);
  font-weight: 700;
  line-height: 32px;
  text-align: center;
  margin: 0 10px;
  padding: 16px 0;
}

.tip {
  font-size: 16px;
  line-height: 24px;
  color: var(--ev-c-text-2);
  font-weight: 600;
}

.react {
  color: #61dafb;
}

.ts {
  color: #3178c6;
}

.actions {
  display: flex;
  padding-top: 32px;
  margin: -6px;
  flex-wrap: wrap;
  justify-content: center;
}

.action {
  flex-shrink: 0;
  padding: 6px;
}

.action a {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  color: var(--ev-c-text-1);
  background-color: var(--ev-c-gray-3);
  padding: 8px 18px;
  border-radius: 8px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.action a:hover {
  background-color: var(--ev-c-gray-2);
}

.versions {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 0;
  margin: 24px 0 10px;
  border-top: 1px solid var(--ev-c-gray-1);
  list-style: none;
}

.versions li {
  display: block;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  padding: 6px 0;
}

.versions .electron-version {
  color: var(--ev-c-text-1);
}

.versions .chrome-version {
  color: var(--ev-c-text-2);
}

.versions .node-version {
  color: var(--ev-c-text-2);
}

.counter {
  padding-top: 16px;
}

.counter button {
  font-size: 16px;
  font-weight: 500;
  color: var(--ev-c-text-1);
  background-color: var(--ev-c-purple);
  padding: 8px 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.counter button:hover {
  background-color: #646cff;
}
