name: Build artifacts

on: workflow_dispatch

jobs:
  build-on-windows:
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22.x

      - name: Install npm dependencies
        run: npm run bootstrap:ci

      - name: Build Electron app on Windows
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: npm run build:win

      - name: Add install Emulator install kit to artifacts
        uses: actions/upload-artifact@v4
        with:
          name: install-kit-winx86
          path: |
            artifacts/*.exe
            artifacts/*.msi

  build-on-linux:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22.x

      - name: Install npm dependencies
        run: npm run bootstrap:ci

      - name: Build Electron app on linux
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: npm run build:linux

      - name: Add install Emulator install kit to artifacts
        uses: actions/upload-artifact@v4
        with:
          name: install-kit-linux
          path: artifacts/*x86_64.AppImage

  build-on-linux-arm64:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22.x

      - name: Install npm dependencies
        run: npm run bootstrap:ci

      - name: Build Electron app on linux ARM64
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: npm run build:linux:arm64

      - name: Add install Emulator install kit to artifacts
        uses: actions/upload-artifact@v4
        with:
          name: install-kit-linux-arm64
          path: artifacts/*arm64.AppImage

  build-on-mac:
    runs-on: macos-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22.x

      - name: Install npm dependencies
        run: npm run bootstrap:ci

      - name: Build Electron app on Mac
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: npm run build:mac

      - name: Add install Emulator install kit to artifacts
        uses: actions/upload-artifact@v4
        with:
          name: install-kit-mac
          path: artifacts/*x64.pkg

  build-on-mac-arm64:
    runs-on: macos-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22.x

      - name: Install npm dependencies
        run: npm run bootstrap:ci

      - name: Build Electron app on Mac ARM64
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: npm run build:mac:arm64

      - name: Add install Emulator install kit to artifacts
        uses: actions/upload-artifact@v4
        with:
          name: install-kit-mac-arm64
          path: artifacts/*arm64.pkg
