@import "@styles/core.scss";

.component {
    @include fill-parent-flex;
    flex-direction: column;
    background: var(--bgcolor-docsheader);
}

.documentContainer {
    @include fill-parent-flex;
    background: #202020;
}
