@import "@styles/core.scss";

.component {
    @include fill-parent-flex;
    flex-direction: column;
    background: var(--bgcolor-docsheader);
    user-select: none;
}

.documentContainer {
    @include fill-parent-flex;
    background: var(--bgcolor-docscontainer);
}
