.dumpSection {
  display: flex;
  flex-direction: row;
  padding: 2px 0;

  &.fit {
    width: fit-content
  }
}

.value {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  color: var(--color-value);
  justify-content: center;
  width: 20px;

  &:hover {
    background: var(--bgcolor-memory-hover);
    opacity: 0.9;
  }
}

.char {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  color: var(--color-secondary-label);

  &:hover {
    background: var(--bgcolor-memory-hover);
    opacity: 0.9;
  }
}
