@use "@styles/core.scss" as *;

.item {
  display: flex;
  flex-direction: column;
  height: 22px;
  justify-content: center;
  &.even {
    background: var(--bgcolor-disass-even-row);
  }

  &:hover {
    background: var(--bgcolor-disass-hover);
  }
}
